name: Python-Build-Test

on: [push, pull_request]

jobs:
  # Job 1
    build:
        strategy:
            matrix:
              os: [ubuntu-latest, macos-latest, windows-latest]
              python-version: ['3.14']

        runs-on: ${{ matrix.os }}

        steps:
            # Step 1
            - name: Check out repository code
              uses: actions/checkout@v4

            # Step 2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                python-version: ${{ matrix.python-version }}
                cache: 'pip' # Caches dependencies for faster subsequent runs

            # Step 3
            - name: Install dependencies and project in editable mode
              run: |
                python -m pip install --upgrade pip
                pip install setuptools
                pip install wheel
                pip install build

            # Step 4
            - name: Build the Python application
              run: |
                python -m build

            # Step 5
            - name: Upload build artifact
              uses: actions/upload-artifact@v4
              with:
                name: build-${{matrix.os}}-py-${{matrix.python-version}}
                path: dist/
                # retention-days: 4

    test:
        needs: build
        strategy:
            matrix:
              os: [ubuntu-latest, macos-latest, windows-latest]
              python-version: ['3.10', '3.11', '3.12']
        runs-on: ${{matrix.os}}
        steps:
            # Step 1
            - name: Check out repository code
              uses: actions/checkout@v4

            # Step 2
            - name: Download artifacts
              uses: actions/download-artifact@v4
              with:
                name: build-${{matrix.os}}-py-${{matrix.python-version}}
                path: dist

            # Step 3
            - name: Install Project and dependencies
              run: |
                python -m pip install --upgrade pip
                pip install '.[test]'

            # Step 4
            - name: Run Python tests
              run: |
                pytest
