name: Python-Tests

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12']

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip' # Caches dependencies for faster subsequent runs

      - name: Install dependencies and project in editable mode
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - run: mkdir artifact_dir
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact-${{ matrix.os }}-python-${{ matrix.python-version }}
          path: artifact_dir
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12']

    runs-on: ${{ matrix.os }}

    needs: build
    
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: my-artifact-${{ matrix.os }}-python-${{ matrix.python-version }}
      - name: Install pytest
        run: |
          pip install pytest
      - name: Run tests with pytest
        run: |
          pytest
